.componentOffer {
  background-color: $grayLight;
  border-radius: $borderRadius;
  cursor: pointer;
  letter-spacing: $letterSpacingCondensed;
  padding: 0.4rem 0.8rem;
  position: relative;

  @include largeUp {
    padding: 0.8rem 1.6rem;
  }

  &__arrow {
    display: none;
    background-color: $primary;
    bottom: 0;
    border-radius: 0 $borderRadius $borderRadius 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;

    @include mediumUp {
      display: block;
    }
  }

  &__icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
