.utilitiesBackgroundgWhite {
  background-color: $white;
}

.utilitiesBackgroundLight {
  background-color: $grayLight;
}

.utilitiesWhite {
  color: $white;
}

.utilitiesAccent {
  color: $accent;
}
