.objColumn {
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;

  &--md20 {
    @include mediumUp {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  &--md25 {
    @include mediumUp {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &--md33 {
    @include mediumUp {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  &--md50 {
    @include mediumUp {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &--lg20 {
    @include largeUp {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  &--lg25 {
    @include largeUp {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &--lg33 {
    @include largeUp {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  &--lg50 {
    @include largeUp {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &--lg75 {
    @include largeUp {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}
