.objRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;

  @include mediumUp {
    flex-direction: row;
  }

  &--centerYes {
    align-items: center;
  }
}
